.adress-section {
  background-color: var(--dark-background-color);
  padding-top: 60px;

  @media screen and (min-width: 480px) and (max-width: 1119px) {
    padding-bottom: 60px;
  }
}

.footer-box {
  text-align: center;
  margin-bottom: 0;

  @media screen and (max-width: 767px) {
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.adress-box {
  text-align: center;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.adress-box__label {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  font-style: normal;
  text-decoration: none;
}
.adress-box__adress-color {
  color: var(--accent-color);
}

.adress-box__change-color {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-box__change-color:focus,
.adress-box__change-color:hover {
  color: var(--navigation-color);
}

.adress-box__label-color {
  color: rgba(255, 255, 255, 0.6);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-color:hover,
.text-color:focus {
  color: var(--navigation-color);
}

.adress-box__logo {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  font-family: Raleway, sans-serif;
  @include text(26px, 1.2, 700);

  margin-bottom: 20px;
}
.footer-box__logo {
  text-decoration: none;
}
.adress-box__borders {
  margin: 0 0 9px;
}

.join {
  color: var(--accent-color);
  text-align: center;

  &__box {
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      margin-left: 165px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 70px;
    }
  }
  &__label {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    height: 44px;
    width: 44px;
    align-items: center;
    justify-content: center;
    color: inherit;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon {
    fill: currentColor;
  }
}
.subscribe__box {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    text-align: left;
  }
}
.subscribe__label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.subscribe__list {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }

  // margin-top: 20px;
}

.subscribe__input {
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  padding-left: 16px;
  height: 50px;
  min-width: 358px;
  width: 100%;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  padding: 15px 0;

  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  text-indent: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #fff;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe__input:focus {
  border-color: var(--navigation-color);
  outline: var(--navigation-color);
}
