.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link-main {
    @media screen and (max-width: 767px) {
      @include text(40px, 1.18, 500);
    }
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  &__link-current {
    color: var(--navigation-color);
    @media screen and (min-width: 768px) {
      position: relative;

      padding-top: 32px;
      padding-bottom: 32px;

      font-weight: 500;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      text-decoration: none;
    }
  }
  &__link-current::after {
    @media screen and (min-width: 768px) {
      content: "";

      position: absolute;
      left: 0;
      bottom: 0;

      display: block;
      width: 100%;
      height: 4px;
      background: #2196f3;
      border-radius: 2px;
    }
  }

  &__link__color-change {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.site-nav__link__color-change:hover,
.site-nav__link__color-change:hover,
:focus {
  color: var(--navigation-color);
}

.site-nav__link-main:hover,
.site-nav__link-main:focus {
  color: var(--navigation-color);
}
