/* * <!--HERO- > */

.hero__button {
  border-bottom: 4px;
  border: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;

  color: var(--accent-color);
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* * <!--FOOTER- > */

.subscribe__button {
  @media screen and (max-width: 1199px) {
    margin: 0 auto;
  }
  position: relative;
  padding: 10px 28px;
  margin-left: 12px;

  font-weight: bold;
  cursor: pointer;

  display: flex;
  align-items: center;

  color: var(--accent-color);
  background-color: var(--navigation-color);

  border-radius: 4px;
  border: none;

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;

  overflow: hidden;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__button:hover,
.subscribe__button:active {
  background: var(--navigation-color);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.15);
}
.subscribe__icon {
  margin-left: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__button::after {
  content: "";
  position: absolute;
  display: inline-block;
  right: 28px;
  top: 50%;
  width: 24px;
  height: 24px;
  background-image: url(./images/subscribe.svg);
  transform: translateY(calc(-50% + 40px));
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* * <!--PORTFOLIO FILTERS- > */

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  @media (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: start;
  }
}

.buttons-list__item {
  border: transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    margin-bottom: 15px;

    &:nth-child(-n + 3) {
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: 768px) {
  margin-bottom: 30px;
}

.buttons-list__item:hover,
.buttons-list__item:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-list__space:not(:last-child) {
  margin-right: 8px;
}
